.news-box-list {
    & .box-desc, .box-desc p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 280px;
    }
    & .box-desc p,  & .item-details {
        margin-bottom:0;
    }
}
.box-title{
    font-size: 14px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.img-responsive, .box-desc img {
    max-width: 100%;
    height: auto;
}
.news-detail-box{ 
    & .item-details{
        border-bottom: 0;
        & .box-desc{
            // background: #a0a0a1;
            & p:first-child { 
                width:100%;
            }
            & ol, ul{
                padding-left:25px;
            }
        }
    }
}