.info {
	width: 68%;
    margin: auto;
    color: red;
}


.btn-height{
	height: 110px!important;
}

.MuiFormLabel-root{
	top: 10px !important;
    left: 15px !important;
}
.input-height{
	height:70px,

}