.customer-detail-form {
        background: #666666;
        // background: url(../../../../public/box-bg-1.png) repeat; 
	    // background-size: contain;
        margin-bottom: 10px;
        // box-shadow: 0 2px 15px #333;
        // border-radius: 5px;
            padding: 12px;
                margin-top: 41px;
        & label {
            color:#999;
        }
        & input, select {
            border-radius: 0;
        }
        & .form-group{
            margin-bottom: -1px;
            display: block; 
            flex: 0 0 100%;
        }
}

.dropdown {
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 18px;
}
.customer-detail {
    & .back-btn img {
        max-width: 100%;
    }
    & label {
        display: none;
    }
}
.error-danger i, .error-danger i:after {
    font-size: 10px!important;
}
@media screen and (orientation: landscape) {
    .order-btn {
      min-width: 100px;
      max-width:150px;  
    }
  }

