.Size{
font-size: 13px;
}

.faceBookSize{
	font-size: 18px !important;
}
.kep-login-facebook.metro{
	text-transform:capitalize !important;
	border-radius : 0.25rem !important;
}

.new-height{
	    height: 60px!important;
}